<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-3">
        <a class="text-white" href="https://www.linkedin.com/in/illia-prytula-20b6b0204/">Created by Illia Prytula in 2021</a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright.
    </div>
  </footer>